:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  height: 100dvh;
}

#root {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
}

main > * {
  flex: 1;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
}
